{% extends "auctions/layout.html" %}

{% block title %}{{ category }}{% endblock %}

{% block body %}
    <h2>Active Listings for {{ category }}</h2><br>
    {% for listing in listings %}
        <div class="card-group">
            <div class="card" style="width: 9rem;">
                <img src="{{ listing.Image }}" alt="{{ listing.Title }} image" width=500px height=auto> 
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                        <div style="text-align: center;">
                            <h3>{{ listing.Title }}</h3><br>
                            <h5>Price: ${{ listing.Bid.bid }}</h5><br>
                        </div>
                        <h5>{{ listing.Description }}</h5><br>
                        Created on {{ listing.Date }} , {{ listing.Time }} by {{ listing.user }}
                        {% if listing.Active == False %}
                            <div style="color:red;">
                                <br><strong>This Listing is closed.</strong>
                            </div>
                            {% if not request.user.username == listing.Bid.bidder.username %}
                                <br><strong>Winner: {{ listing.Bid.bidder.username }}</strong>
                            {% endif %}
                        {% endif %}
                        {% if check_watchlist == True %}
                            {% if listing in watchlist_listings %}
                            <div style="color:green; text-align: center;">
                                <br><strong>Present in your watchlist</strong>
                            </div>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div style="padding: 15px; text-align:center">
                    <a href="{% url 'listing' listing.Title %}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
    {% empty %}
    <div>
        <br>
        <h5>There are no Listings for {{ category }}</h5>
    </div>
    {% endfor %}
{% endblock %}