{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>Categories</h2><br>

    <div class="col-2">
        <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item" style="text-align: center;">
                <a href="{% url 'get_category' category.category %}">{{category}}</a>
            </li>
        {% endfor %}
        </ul>
        <br>
    </div>
    {% if not add_category %}
    <div>
        <form action="{% url 'categories' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Add new Category">
        </form>
    </div>
    {% else %}
    <div>
        <form action="{% url 'categories' %}" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="category" class="col-sm-1 col-form-label">Category</label>
                <div class="col-2">
                    <input type="text" class="form-control" name="category" id="category">
                </div>
            </div>
            <input type="hidden" value="{{ add_category }}" name="add_category">
            <div>
                <input type="submit" value="Add Category" class="btn btn-primary">
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}