{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Auctions{% endblock %}

{% block link %}<link rel="stylesheet" href="{% static 'auctions/styles.css' %}">{% endblock %}

{% block body %}
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group row" style="padding-left:20px;">
            <h2>Active Listings</h2>
            <div style="position:relative; left:740px; top:9px;">
                <label><h6>Sort By:</h6></label>
            </div>
            <div style="position:relative; left:750px; top:-1px;">
                <select name="order" class="custom-select my-1 mr-sm-2">
                    {% for order in orders %}
                        {% if sel_order == order.By %}
                            <option selected>{{ order }}</option>
                        {% else %}
                            <option>{{ order }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div style="position:relative; left:775px; top:3px"> 
                <input type="submit" class="btn btn-primary" value="Sort">
            </div>
        </div>
    </form>
    {% for listing in listings %}
        <div class="card-group">
            <div class="card" style="padding-left:10px;">
                <img src="{{ listing.Image }}" alt="{{ listing.Title }} image" width=500px height=auto> 
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                        <div style="text-align:center;">
                            <h3>{{ listing.Title }}</h3><br>
                            <h5>Price: ${{ listing.Bid.bid }}</h5><br>
                        </div>
                        <h5>{{ listing.Description }}</h5><br>
                        Created on {{ listing.Date }} , {{ listing.Time }} by {{ listing.user }}
                        {% if listing.Active == False %}
                            <div style="color:red; text-align: center;">
                                <br><strong>This Listing is closed.</strong>
                            </div>
                            {% if listing.Bid.bidder is not None %}
                                <br><strong>Winner: {{ listing.Bid.bidder.username }}</strong>
                            {% endif %}
                        {% endif %}
                        {% if check_watchlist == True %}
                            {% if listing in watchlist_listings %}
                            <div style="color:green;text-align: center;">
                                <br><strong>Present in your watchlist</strong>
                            </div>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div style="padding: 15px;text-align: center;">
                    <a href="{% url 'listing' listing.Title %}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
    {% empty %}
        <div>
            <br>
            <h5>There are no Listings.</h5>
        </div>
    {% endfor %}
{% endblock %}