<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block link %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="padding: 10px;">
        <h1 style="display:grid; place-items: center; margin: 0 2rem 2rem 2rem;">Online Marketplace</h1>
        <div>
            {% if user.is_authenticated %}
            <div style="padding-left: 0px;">
                <div class="alert alert-info">
                    Signed in as <strong>{{ user.username }}</strong>.
                </div>
            </div>
            {% else %}
            <div style="padding-left: 0px;">
                <div class="alert alert-warning">
                    Not signed in. You will be redirected to login page if you try to access the privilages of a user.
                </div>
            </div>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
