{% extends "auctions/layout.html" %}

{% block title %}User{% endblock %}

{% block body %}
    {% if not show_comments == True %}
        <div>
            <form action="{% url 'user' request.user.username %}" method="POST">
                {% csrf_token %}
                <div class="form-group row" style="padding-left:20px;">
                    <h3>Your listings</h3>
                    <div style="position:relative; left:975px;">
                        <input type="submit" class="btn btn-primary" value="Your Comments">
                    </div>
                </div>
            </form>
        </div>
        {% for listing in listings %}
            <div class="card-group">
                <div class="card" style="width: 9rem;">
                    <img src="{{ listing.Image }}" alt="{{ listing.Title }} image" width=500px height=auto> 
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <h3>{{ listing.Title }}</h3><br>
                            <h5>Bid: ${{ listing.Bid }}</h5><br>
                            {% if listing.Bid.bidder is not None %}
                                <h5>Bidder: {{ listing.Bid.bidder }}</h5>
                            {% endif %}
                            <h5>{{ listing.Description }}</h5><br>
                            Created {{ listing.Date }} , {{ listing.Time }}
                        </p>
                    </div>
                    <div style="padding: 15px;">
                        <a href="{% url 'listing' listing.Title %}">
                            <button class="btn btn-primary">View listing</button>
                        </a>
                        <a href="{% url 'edit_list' listing.Title %}">
                            <button class="btn btn-primary">Edit Listing</button>
                        </a>
                        <div>
                            <form action="{% url 'update' listing.Title %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="prev_page" value="{{ request.path }}">
                                <br>
                                <div class="form-group row">
                                    <div style="position:relative; left:15px;">
                                        {% if listing.Active == True %}
                                            <input class="btn btn-danger" type="submit" name="is_not_active" value="Close Listing">
                                        {% else %}
                                            <input class="btn btn-success" type="submit" name="is_active" value="Reopen Listing">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% empty %}
            <div>
                <br>
                <h5>There are no Listings.</h5>
            </div>
        {% endfor %}
    {% else %}
            <div class="form-group row" style="padding-left:20px;">
                <h3>Your Comments</h3><br>
                <div style="position:relative; left:975px;">
                    <a href="{% url 'user' request.user.username %}">
                        <button class="btn btn-primary">Your listings</button>
                    </a>
                </div>
            </div>
        <div class="col-7" style="height:auto;">
            <div class="card" style="padding:10px;">
                {% for comment in comments %}
                    <div> 
                        <strong>{{ comment.listing.Title }}</strong>
                        : {{ comment.comment }}
                    </div><br>
                {% empty %}
                    <div>
                        No comments.
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}