{% extends "auctions/layout.html" %}

{% block title %}{{ request.user }}{% endblock %}

{% block body %}
    <h3>Your Watchlist</h3>
    {% for listing in listings %}
        <div class="card-group">
            <div class="card" style="width: 9rem;">
                <img src="{{ listing.Image }}" alt="{{ listing.Title }} image" width=500px height=auto> 
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                        <div style="text-align: center;">
                            <h3>{{ listing.Title }}</h3><br>
                            <h5>Price: ${{ listing.Bid.bid }}</h5><br></div>
                        <h5>{{ listing.Description }}</h5><br>
                        Created on {{ listing.Date }} , {{ listing.Time }} by {{ listing.user }}
                        {% if listing.Active == False %}
                            <div style="color:red;">
                                <br>This Listing is closed.
                            </div>
                        {% endif %}
                        <div style="text-align: center;">
                            {% if listing.Bid.bidder is not None %}
                            <br><br><strong>Current Winner: {{ listing.Bid.bidder.username }}</strong>
                            {% else %}
                            <br><br><strong>No bidders</strong>
                            {% endif %}
                        </div>
                    </p>
                </div>
                <div style="padding: 15px;text-align: center;">
                    <a href="{% url 'listing' listing.Title %}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
    {% empty %}
        <div>
            <br>
            <h5>You have no listings in your watchlist.</h5><br>
            <a href="{% url 'index' %}">Click Here</a> to see all listings.
        </div>
    {% endfor %}
{% endblock %}